<div {{ attributes }}>
    <strong>{{ this.randomNumber }}</strong>
    <div data-controller="hello"></div>
    <button class="inline bg-zinc-200 rounded-md p-3" data-action="live#$render">Refresh</button>
</div>
